
body
  {
    margin: 0;
    padding: 0;
    background: #BDBAB4;
  }


h1{
  text-align: center;
  font-size: 300%;
  color: white;
}

.landh1{
  font-size: 500%

}
.landh2{
  color:#D3D3D3;

}


ul {
    text-decoration:none;
}
.imgl{
  width: 20%;
  height: 10%;
  position: absolute;
  margin-left: 37%;
}
.imgab {
    height:300px;
}
h2{
  text-align: center;
  color: white;
  font-size: 250%;
  position: relative;
}
h3{
  color: darkblue; 
    font-size: 150%;
}
p{
  color: black; font-size: 150%;
  font-family: Helvetica;
}


.text {
    background-color: #FFF5EE;
    padding: 15px;
    margin:auto auto;
    margin-top:30px;
    width: 1190px;
    color: darkblue; 
    font-size: 150%; 
}
.textabout1 {
    background-color: #FFF5EE;
    padding: 15px;
    margin:30px 15px;
    width: 595px;
    color: darkblue; 
    font-size: 150%; 
    position:absolute;
}

.textabout2 {
    background-color: #FFF5EE;
    margin:30px 645px;
    width: 595px;
    color: darkblue; 
    font-size: 150%; 
}

.qvadr{
  height: 500px;
}

.pvertical * {
  display: block;
  width: 200px;
    -webkit-transition: all 0.4s ease-out;
    position:relative;

}
.pvertical img{
  width:100%;
  height: 110px;
  top: 30px;
  left: 25px; 
  
 }


.pvertical div.gallery.item {
  -webkit-perspective: 500px;
    position: absolute;

}
.forum{
  margin-left: 5%; 
}
.bookstore{
  margin-left: 25%;
}
.resources{
  margin-left: 45%;
}
.s{
  margin-left: 65%;
}

.q5{
  margin-left: 5%;
  margin-top: 250px;
}
.q6{
  margin-left: 25%;
  margin-top: 250px;
}
.q7{
  margin-left: 45%;
  margin-top: 250px;
}
.q8{
  margin-left: 65%;
  margin-top: 250px;
}

.pvertical .asset {
    top: 10px;
}




.pvertical .info {
  display: block;
  background-image: url(<?=base_url("images/fon.jpg")?>);
  background-size: 100%;
  position: absolute;
  top: 0px;
  box-shadow: 0px 5px 5px rgba(0,0,0,1);
  height: 150px;
  width: 250px;
  text-align:center; 
}
.pvertical .info a{
  text-align:center; 
  color: #BDBAB4;
  font-family: Chalkduster, fantasy;
  text-decoration: none;
}
.pvertical :hover .info {
  
  box-shadow: 0px 5px 5px rgba(0,0,0,1);
  -webkit-transform: rotateX(100deg) scale(1);
  top: -60px;
}



.mtext .container .navs {
  overflow: hidden;
  height: 10px;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 1); 
  border-bottom: 1px solid rgba(0, 0, 0, 1); 
  margin: auto;
  text-align: center;
  display:block;
  position: static;
}
.mtext .container .navs .backside {
  color: black;
  height: 30px;
  width: 200px;
  font-size: 200%;

  text-align: center;
}
.mtext .container  .frontside {
  color: #0000CD;
  width: 200px;
  border-radius: 1px;
  font-size: 200%;

  text-align: center;
}
.mtext .container  .navs .inside {
  -webkit-transition: all 0.3s ease-out;
  position: static;
  top: -30px;

  text-align: center;
}
.mtext .container  .navs:hover .inside {
  top: 0;

  text-align: center;
}
.mtext .container  ul li {
  float: left;
  position: static;  
  text-align: center;
}

.mtext .container  ul li a {
  color: black;
  display: block;
  font-family: 'Gibson-SemiBold', sans-serif;
  padding: 0 0 0 0;
  text-decoration: none;
  text-align: center;
  }

@media () {
  .mtext .container  .navs .inside {
    -webkit-transition: none;
  }
}

.containerr{
  width: 100%;

}





header{


}

.img{
  width:150px; 
}


nav{
  height: 100px;

}
a,
a * {
    -webkit-transition: all 0.2s ease-out;
    text-decoration: none;
}

.sf-menu, .sf-menu * {
    list-style: none;
    font-size: 20px; 
    position: static;
    font-family: Chalkduster, fantasy;

}
.sf-menu a {
    padding: 1.3em ;
    text-decoration: none;
    display: block;
    color: black;
    float: left;
    margin-left: -100px;
}
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu .current-menu-item,
.sf-menu li:focus,
.sf-menu li:hover,
.sf-menu li:active,
.sf-menu li.current-menu-item a {
    color: #1560BD;
}
.sf-menu a.active{
  color: #0000CD; 
}


.prob1{
  width: 300px;
  height:300px;
  margin-left: 94px;
}

.imgf{
  width:20px; 
  height:20px;
}

.footerr {
  background-color: black;
    text-align: center;
    width: 100%;
    margin-top: 700px;
    height: 150px;
}
.pfooter{
  color: white;
}


.carousel  {
   width: 100%; 
   margin-top: 100px;
   margin-bottom: 1 0px;
   max-height: 250px;
}
.carousel-wrapper {
   
   overflow: hidden; 
   position:relative;
}
.carousel-items {
   width: 100%; 
   position: relative; 
}
.carousel-block {
   float: left; 
}


.carousel-button-left a, .carousel-button-right a{
   height: 250px;
   position: relative;
   top: 80px; 
   width: 20px;
   cursor: pointer; 
   text-decoration:none;
}
.carousel-block img{
    width:100%;
    height: 400px;    
}

.carousel-button-left a{
   float: left; 
}
.carousel-button-right a{
   float: right;
  
}
.carousel-button{
  
}
.imgb{
  max-height: 250px;
  width: 100%;
}
img{
  width: 1070px;
  height: 450px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 100%;
      margin: auto;
  }


.carboot{
  margin-top: -150px;
}
.shadow{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}





#tweet
  {
    padding: 6em 0em;
  }

  #tweet blockquote
  {
    margin: 0;
    padding: 1em 4em;
    line-height: 1.5em;
    font-size: 1.8em;
  } 


#tweet
  {
    position: relative;
    text-align: center;
    
    background-attachment: fixed;
    background-size: cover;
  }

    #tweet:before
    {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; 
      background: rgba(64,64,64,0.5);
    }
  
    #tweet section
    {
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: rgba(255,255,255,.1);
    }

    #tweet blockquote
    {
      position: relative;
      border: none;
      margin: 0;
      font-weight: 300;
      color: rgba(255,255,255,.7);
    } 


  .fa-twitter-square:before{content:"\f081"}
  .fa-twitter:before{content:"\f099"}

.fa
  {
    text-decoration: none;
  }

    .fa.solo
    {
    }
    
      .fa.solo span
      {
        display: none;
      }

    .fa:before
    {
      display:inline-block;
      font-family: FontAwesome;
      font-size: 1.25em;
      text-decoration: none;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
    }
    ul.contact li
  {
    display: inline-block;
    margin: 0 1em;

  }
  
  ul.contact li span
  {
    display: none;
    margin: 0;
    padding: 0;
  }
  ul.contact li a
  {
    color: inherit;
    font-size: 1.75em;
    display: inline-block;
    -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  }
  
  ul.contact li a:hover
  {
    color: #fff;
  }



/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
  
  #footer
  {
    position: relative;
    text-align: center;
    background-color: black;
  }
  
  
  

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
  
  #copyright
  {
    position: relative;
    text-align: center;
    color: black;
  }
  
  #copyright .container
  {
    width: 100%;
    padding: 3em 0em;
    color:  white;
    background-color: black;
  }
  
  #copyright a
  {
    text-decoration: none;
    color:  white;
  }
  
/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
  
  #featured
  {
    position: relative;
    background: #f2f2f2;
    text-align: center;
  }
  
  #featured h3
  {
    display: block;
    font-weight: 300;
  }

  #featured .pennant
  {
    font-size: 4em;
  }
  
  #featured .button
  {
    margin-top: 1.5em;
  }


 /******************** landing ********************/
.land{
  background-image: url(images/landfon3.jpg) ;
  background-size: 100% 100%;
  height: 500px;
}

 #hero-area .btn {
  margin-right: 20px;
}
.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}
.btn-common {
  background: #3d566e;
  color: #fff;
}
.btn-common:hover {
  background: #e74c3c;
  color: #fff;
}
.imgland{
  width: 500px;
  height: 300px;
  margin-bottom: 100px;
  margin-left: 200px;
}